.page {
    width: 210mm;
    /* A4 width */
    height: 297mm;
    /* A4 height */
    margin: 20px auto;
    /* gap between pages */
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    /* two-column layout */
    padding: 10mm;
}

.page1 {
    flex-direction: row;
}

#page2,
#page3,
#page4 {
    flex-direction: column;
}

.projects {
    padding-left: 25mm !important;
    padding-right: 10mm !important;
}



.left-side {
    flex: 0.6;
    /* equal width columns */
    padding: 5mm;
    overflow: hidden;
    /* prevent overflow */
}

.left-side section {
    margin-bottom: 30px;
}

.right-side section {
    margin-bottom: 30px;
}

.left-side img {
    width: 60%;
    max-width: 120px;
    height: auto;
    aspect-ratio: 0.9 / 1;
    display: block;
    margin: 0 auto 10mm;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    background: white;
    text-align: center;
}


.progress {
    background: #e9ecef;
    height: 8px;
    border-radius: 4px;
    margin: 5px 0 10px;
    overflow: hidden;
}

.progress .bar {
    background: black;
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: #444;
    margin-top: 8px;
    padding-left: 12px;
    border-left: 4px solid #007acc;
}

.right-side {
    flex: 1;
    /* equal width columns */
    padding: 10mm;
    overflow: hidden;
    /* prevent overflow */
}

/* .summary p {
    font-size: 16px;
} */

.timeline {
    position: relative;
    margin-left: 20px;
    padding-left: 20mm;
    padding-right: 5mm;
    border-left: 2px solid black;
    /* border: 1px solid #007acc; */
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -82px;
    top: 6px;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
}

.timeline-item ul li {
    margin-bottom: 5px;
}

#page3 ul li {
    margin-bottom: 10px;
}

#page4 ul li {
    margin-bottom: 10px;
}

/* .timeline-title {
    font-weight: 700;
    margin-bottom: 4px;
}

.timeline-content {
    color: #444;
    line-height: 1.5;
} */

.projects section {
    margin-bottom: 50px;
}

@media print {
    body {
        margin: 0;
        background: none;
    }

    .page {
        box-shadow: none;
        margin: 0;
        page-break-after: always;
    }
}